global
    maxconn 4096
    daemon
    log stdout format raw daemon

defaults
    timeout connect 10s
    timeout client 500s
    timeout server 500s
    log global
    mode http
    maxconn 3000
    stats enable
    stats uri /haproxy_stats/acl
    stats auth admin:admin
    stats refresh 30s
    stats realm Haproxy ACL\ Statistics

frontend http-in
    bind *:80
    redirect scheme https if !{ ssl_fc }

frontend https-in
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/haproxy-cert.pem
    mode http
    option httplog
    default_backend webserver

backend webserver
    mode http
    balance roundrobin
    option httpchk GET /
    option httpclose
    option forwardfor
    server web1 web1:443 check ssl verify none
    server web2 web2:443 check ssl verify none
    server web3 web3:443 check ssl verify none
